# print Function

In [2]:
# print in python is a function which takes arguements and displays in console

In [3]:
print("Hello, World!")

print(3*6)

print()

print(22+22)

print("the end","or it is?","keep learninng",3333)

Hello, World!
18

44
the end or it is? keep learninng 3333

# Strings

In [4]:
# Different ways to print strings
print("python is fun")
print('is python fun?')
print("strings are python's ")
print('"Quotes"')

python is fun
is python fun?
strings are python's
"Quotes"

In [5]:
# String concatenate
# use + symbol
print("Hello"+ "Goutham")
greet="good morning mister"
name="gmr27"
print(greet+" "+name)

HelloGoutham
good morning mister gmr27

# Escape charecter

In [6]:
splitString= "This string has been \nsplit over \nseveral \nlines"
print(splitString)

This string has been
split over
several
lines

In [7]:
tabbedString="1\t2\t3\t4\t5"
print(tabbedString)

1	2	3	4	5

In [8]:
another="""this string has been
split over
n several
lines"""
print(another)

this string has been
split over
n several
lines

In [10]:
print("Number 1\tHorse")

Number 1	Horse

In [11]:
print("Hello how are u \
 iam fine")

Hello how are u  iam fine

In [13]:
# How to use \ in python print
print("C:\\users\\timbulc\\notes.txt")

C:\users\timbulc\notes.txt

In [15]:
# Raw String
print(r"C:\users\timbulc\notes.txt")

C:\users\timbulc\notes.txt

# VARIABLES AND TYPES

In [2]:
# Python allocates area of memory for us , and python also knows the type of variable 
#Few rules for variable names
#1.Must begin with letter or underscore
#2.They can contain letters,numbers,underscore(cannot begin with number)
#3.Case sensitive
#4.Attached with Symbol =
age=24
print(age)

print(type(age))

24
<class 'int'>

# Python is strongly typed language

In [3]:
#python allows to re use the variables

# Numeric Data types

In [4]:
# Python has several built-in data types that can be classed as:
# Numeric  Iterator   Sequence   Mapping  File   Class Exception
# Numeric :- int , float , complex
# Python doesnot have type declarations

# Numeric operators

In [1]:
a=12
b=3
print(a/b)    #4.0
print(a//b)    #4
print(a%b)     #0 remainder after integer division

4.0
4
0

In [3]:
for i in range (0,a//b):  # python takes starting value but neglects ending value
    print(i)

0
1
2
3

# Operator Precedence

In [5]:
print((9+3)/3-4*12)
#/>*>+>         BEDMAS BODMAS BIDMAS
#Addition and subtraction has same precedence

-44.0

# String Data type

In [10]:
# one of sequence data type of python
parrot="Norwegian Blue"
print(parrot)
print(parrot[3])   # counts from 0 (Zero) using index

Norwegian Blue
w

In [11]:
# mini challenge
# add some code to print "we win"
# each charecter should apply in separate line
#The program should get the charecters fro parrot string using index
print(parrot[3])
print(parrot[4])
print(parrot[9])
print(parrot[3])
print(parrot[6])
print(parrot[8])

w
e

w
i
n

In [12]:
print(parrot[-1])
print(parrot[-14])

e
N

In [13]:
print(len(parrot))

14

In [16]:
for i in range (0,len(parrot)):
    print(parrot[len(parrot)-i-1])

e
u
l
B

n
a
i
g
e
w
r
o
N

# Slicing

In [25]:
#(Start,Stop,Skip)
print(parrot[0:6]) # last index doesnot included - upto but not included stop
print(parrot[3:5])
print(parrot[6:])
print(parrot[:6])
print(parrot[10:14])
print(parrot[:7]+parrot[7:])

Norweg
we
ian Blue
Norweg
Blue
Norwegian Blue

In [27]:
# Negative slicing
print(parrot[-4:-2])
print(parrot[-14:-8])

Bl
Norweg

In [28]:
print(parrot[-1:-15:-1])

eulB naigewroN

In [30]:
# Using Step in slicing
print(parrot[0:6:2])
print(parrot[0:6:3])

Nre
Nw

In [31]:
number="9,223,372,036,854,775,807"
print(number[1::4])

,,,,,,

In [42]:
num2="9,223;372:036 854,775;807"
seperators=num2[1::4]
print(seperators)
type(seperators)

,;: ,;

str

In [34]:
values="".join(char if char not in seperators else " " for char in num2).split()
print([int(val) for val in values])

[9, 223, 372, 36, 854, 775, 807]

In [43]:
src="hello,123,gdh:h2>fgd<5gh"
seps=(",:><")
print(seps)

,:><

In [44]:
strings="".join(char if char not in seps else " " for char in src).split()
print([string for string in strings])

['hello', '123', 'gdh', 'h2', 'fgd', '5gh']

In [47]:
strings="".join(char if char not in seps else " " for char in src)
print(strings)

hello 123 gdh h2 fgd 5gh

# Slicing backwards

In [1]:
letters="abcdefghijklmnopqrstuvwxyz"
print(len(letters))
backwards=letters[::-1]
print(backwards)
print(letters[25:0:-1])   # a will not be printed
print(letters[25::-1])
print(letters[16:13:-1])
print(letters[4::-1])
print(letters[26:-9:-1])
print(letters[-1:-9:-1])

26
zyxwvutsrqponmlkjihgfedcba
zyxwvutsrqponmlkjihgfedcb
zyxwvutsrqponmlkjihgfedcba
qpo
edcba
zyxwvuts
zyxwvuts

In [4]:
# idioms
print(letters[::-1])   # prints reverse order/backwards
print(letters[-4:])    # prints last four letters
print(letters[-1:])     # prints last letter
print(letters[:1])       # prints 1st letter
print(letters[0])        #prints 1st letter but error in null string

zyxwvutsrqponmlkjihgfedcba
wxyz
z
a
a

# String operators

In [5]:
# there are 5 sequence types in python
# 1.strings 2.lists 3.Tuple 4.Range 5.Byte & Byte range
# list is sequence of strings which are sequence
parts=["cpu","monitor","mouse","keyboard"]
parts[2][0]

'm'

In [6]:
#str seq operators
s1="he is"
s2="probabily"
s3="planning"
print(s1+s2+s3)
print("hello"*5)
print("hello"*5+"4")
today="friday"
print("fri"in today)
print("sun"in today)

he isprobabilyplanning
hellohellohellohellohello
hellohellohellohellohello4
True
False

# String replacement fields

In [1]:
# every data type in python can be converted in to string type
age=24
print("Hello gm you are "+str(age)+" years old")

Hello gm you are 24 years old

In [2]:
print("my age is {0} years".format(age))

my age is 24 years

In [5]:
print("there jan has {0} \n feb has {1} \n mar has {0} \n apr has {2} \n may has {0}".format(31,28,30))

there jan has 31
 feb has 28
 mar has 31
 apr has 30
 may has 31

# String formatting

In [9]:
# < left allignment
#> right 
#^ centre
# :number =width
for i in range(13):
    print(f" the number is {i:2} whose squared is {i**2:3} and cubed is {i**3:4}")

 the number is  0 whose squared is   0 and cubed is    0
 the number is  1 whose squared is   1 and cubed is    1
 the number is  2 whose squared is   4 and cubed is    8
 the number is  3 whose squared is   9 and cubed is   27
 the number is  4 whose squared is  16 and cubed is   64
 the number is  5 whose squared is  25 and cubed is  125
 the number is  6 whose squared is  36 and cubed is  216
 the number is  7 whose squared is  49 and cubed is  343
 the number is  8 whose squared is  64 and cubed is  512
 the number is  9 whose squared is  81 and cubed is  729
 the number is 10 whose squared is 100 and cubed is 1000
 the number is 11 whose squared is 121 and cubed is 1331
 the number is 12 whose squared is 144 and cubed is 1728

In [10]:
for i in range(13):
    print(f" the number is {i:^2} whose squared is {i**2:^3} and cubed is {i**3:^4}")

 the number is 0  whose squared is  0  and cubed is  0
 the number is 1  whose squared is  1  and cubed is  1
 the number is 2  whose squared is  4  and cubed is  8
 the number is 3  whose squared is  9  and cubed is  27
 the number is 4  whose squared is 16  and cubed is  64
 the number is 5  whose squared is 25  and cubed is 125
 the number is 6  whose squared is 36  and cubed is 216
 the number is 7  whose squared is 49  and cubed is 343
 the number is 8  whose squared is 64  and cubed is 512
 the number is 9  whose squared is 81  and cubed is 729
 the number is 10 whose squared is 100 and cubed is 1000
 the number is 11 whose squared is 121 and cubed is 1331
 the number is 12 whose squared is 144 and cubed is 1728